.App {
  text-align: center;
  user-select: none;
}

.gameContainer {
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  '. gameHeader userInfo'
  '. zombieSprite .';
  background-color: #E1E2E1
}

.gameHeader {
  grid-area: gameHeader;
}

.userInfo {
  grid-area: userInfo;
  justify-self: end;
  align-self: start;
}

.userInfo p {
  margin: 0;
}

#zombieSprite {
  grid-area: zombieSprite;
}

.appHeader > h1 {
  background-color: #005662;
  margin: 0;
  padding: 15px 0px;
  color: #ffffff;
  text-shadow: black 2px 2px
}